@import 'bootstrap/dist/css/bootstrap.min.css';

:root {
    --color-primary: #E8C547;
    --color-dark1: #30323D;
    --color-dark2: #4D5061;
    --color-accent: #5C80BC;
    --color-neutral: #FFFFFF; 
}

/* Set the default font and background color for the whole page */
body {
    font-family: 'Roboto Slab', serif;
    background-color: var(--color-dark2);
    margin: 0;
    padding: 0;
}